
<div class="links">
  <a href="#left" class="opener"> About </a>
  <a href="#right" class="opener"> Works & Press releases</a>
</div>

<div class="slider slider--left" id="left">
  <h2 class="slider__title">About</h2>
  <h3 class="slider__presentation"> Artiste pluridisciplinaire, Iris Crey emploie la photographie ainsi que des textes, reprises d'images et techniques mixtes. Docteur en arts visuels, elle poursuit un questionnement sur l'universalité des sentiments, la subjectivité des représentations et le statut ontologique des images.
  </h3>
  <h3 class="slider__presentation-bis"> Iris Crey is a multidisciplinary artist working in photography, iconographic citations, text and mixed medias. As a doctor in visual arts, she continues an investigation on the universality of sentiments, the subjectivity of representations and the ontological status of images.
  </h3>
  <h2 class="slider__title"> Commissionned</h2>
  <h3 class="slider__presentation"> <%= link_to"Réalisation de l'image de couverture pour le livre de Calum Watt: Blanchot and the moving image", "http://www.mhra.org.uk/images/covers/M-mi-8.jpg" %></h3>
</div>

<div class="slider slider--right" id="right">
  <h2 class="slider__title">Last works exhibited</h2>
  <h3 class= "slider__presentation"><%= link_to"Série frises photographiques Photographic friezes", pages_pairs_path %></h3>
  <h3 class="slider__presentation"> * "Hors paires" </h3>
  <h3 class="slider__presentation-bis"> Exhibitions:
  <br>-"New Orleans loving Festival 2016"</br>
  <br>"Love stories", Photaumnales, Beauvais (France)</br>
  <%= link_to"EN", "http://www.photaumnales.fr/index.php/21-photaumnales-2016/quadrilatere-gnt-2016/92-love-stories-en#crey" %>
  <%= link_to"FR", "http://www.diaphane.org/telechargement/Photaumnales2016_DP.pdf" %>
  </h3>
  <h3 class="slider__presentation"> * "Les Surveillants / The Guards" </h3>
  <h3 class="slider__presentation"><%= link_to"Série Impressions photographiques sur bois/Photographic print on wood", pages_trees_path %>
  </h3>
  <h3 class="slider__presentation"> * "Les Trois arbres / The Three trees" </h3>
  <h3 class="slider__presentation-bis"> Exhibitions:
  <br>-"Dendromorphies.", Topographie de l'art, Paris, 2016</br>
   <%= link_to"Dossier de presse", "http://www.topographiedelart.fr/assets/files/dossier_de_presse/Dendromorphies-Dossier-Presse.pdf" %>
  </h3>
</div>

<div class="content">
<h2 class="slider__title_general"></h2>
    <h1> "Espoirs recyclés", n°2</h1>
    <h1> Actuellement présenté dans l'exposition : "Another's treasure", Arts Council of Southwestern Indiana, 17.04.2017 - 12.05.2017
    </h1>


                   <%= image_tag "CREY_01.jpg" %>


<h2 class="slider__title">

Pour la série des "Espoirs recyclés", j'ai utilisé un système d'intelligence artificielle reposant sur le "deep learning" (apprentissage profond) et les systèmes de reconnaissance d'images. Grâce à ce processus, j'ai hybridé des photos de cafés nommé "espoir" (ou "hope" en anglais) photographiés en France et à travers le monde d'après Google Street View avec des papiers recyclés dont la texture irrégulière trouble la réception de l’image. Le programme basé sur un réseau de neurones artificiels nourri d'un corpus d'images représentant souvent des animaux induit un climat onirique. Cela modifie les lieux géographiques ordinaires en espaces de rêves propices à l'apparition d'étranges créatures.

Les tirages photographiques de la série ont été réalisés sur des papiers recyclés avec un système d’impression directe. Je les ai réalisés artisanalement à partir de journaux.

    </h2>
    <h3 class="slider__presentation">
In the "Recycled Hopes" series, I employed an artificial intelligence system based on deep learning and image recognition. With Google Street View, I took several photographs of cafés called "hope" - "espoir" in French -  in France and throughout the world. Through this A.I. process, I hybridized the photos with recycled paper, the irregular texture of which disrupts the easy reception of the image. The program is based on an array of artificial neurons and fed with a series of images, primarily of animals; it induces a Dream-like atmosphere. It changes the ordinary geographical places into strange, oneiric spaces, prompting the appearance of bizarre creatures.

The photographic prints of the series are realized on recycled paper with « The Flatbed Direct Printing System » (variable dimmers). They were made by hand from newspapers by the artist.
    </h3>
<h2 class="slider__title"></h2>
    <h1> Exposition : "Dendromorphies. Créer avec l'arbre", Paris, Topographie de l'art, 26.11.2016 - 11.01.2017
    </h1>
  <%= image_tag "dendromorphies.jpg" %>

  <div class="button-bis">
    <h6 class="slider__little"> Iris Crey, "Les Trois arbres / The Three trees"
    Impressions photographiques sur bois (peuplier) / Photographic print on wood (poplar), 2016.
    <br> Vue de l'exposition "Dendromorphies. Créer avec l'arbre", Espace Topographie de l'art, Paris. 26.11.2016 - 11.01.2017
    </br>
    </h6>
  </div>
</div>
