
<div class="tech-slideshow">
  <div class="mover-1"><%= image_tag "hors paires 1.jpg",width: 2526, height: 200, crop: :fill %></div>
  <div class="mover-1"><%= image_tag "hors paires 2.jpg", width: 2526, height: 200, crop: :fill %></div>
  <div class="mover-2"><%= image_tag "HORS PAIRES 3.jpg",width: 2526, height: 200, crop: :fill
  %></div>
  <div class="mover-2"><%= image_tag "HORS PAIRES 4.jpg",width: 2526, height: 200, crop: :fill %></div>
  <div class="mover-1"><%= image_tag "HORS PAIRES 5.jpg", width: 2526, height: 200, crop: :fill %></div>
  <div class="mover-2"><%= image_tag "HORS PAIRES 6.jpg", width: 2526, height: 200, crop: :fill %></div>
</div>

<div class="columnsContainer">

      <div class="leftColumn">
        <h2 class="slider__title">"HORS PAIRES". <br>Robert Rauschenberg & Jasper Johns, Vera Mercer & Daniel Spoerri, Setsuko & Balthus, Alice Springs & Helmut Newton, Lee Miller & Man Ray, Renée Perle & Jacques-Henri Lartigue, Eliane Radigue & Arman, Giorgia O’Keefe & Edward Steichen, Nancy Shaver & Haim Steinbach, Frida Kahlo & Diego Rivera, Rosine Baldaccini & César…</br></h2>

       <h3 class="slider__presentation"></h3>

        <div class="content">
  <%= image_tag "exhibition NOLA.jpg", width: 850, height: 610, crop: :fill %>
  <h6 class="slider__little">Iris Crey, Hors Paires, 2016, (détail, 5m.).
        <br>Vue de l’exposition « Mixed Messages.6 », New Orleans, the Myrtle Banks Building Gallery,  presented by the New Orleans Loving Festival with support from Alembic Community Development, Creative Alliance of New Orleans and Ashé Cultural Arts Center, July 16th - August 13th, 2016.</br></h6>
        </div>

      </div>

      <div class="rightColumn">
        <h2 class="slider__title">Photographic friezes</h2>

        <h3 class="slider__presentation-bis">Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. </h3>
      </div>


