
<div class="tech-slideshow">
  <div class="mover-1"><%= image_tag "hors paires 1.jpg",width: 2526, height: 200, crop: :fill %></div>
  <div class="mover-1"><%= image_tag "hors paires 2.jpg", width: 2526, height: 200, crop: :fill %></div>
  <div class="mover-1"><%= image_tag "HORS PAIRES 3.jpg",width: 2526, height: 200, crop: :fill
  %></div>
  <div class="mover-1"><%= image_tag "HORS PAIRES 4.jpg",width: 2526, height: 200, crop: :fill %></div>
  <div class="mover-1"><%= image_tag "HORS PAIRES 5.jpg", width: 2526, height: 200, crop: :fill %></div>
  <div class="mover-1"><%= image_tag "HORS PAIRES 6.jpg", width: 2526, height: 200, crop: :fill %></div>
</div>

<div class="columnsContainer">

      <div class="leftColumn">
        <h2 class="slider__title">"HORS PAIRES".</h2> <h3 class="slider__presentation">Robert Rauschenberg & Jasper Johns, Vera Mercer & Daniel Spoerri, Setsuko & Balthus, Alice Springs & Helmut Newton, Lee Miller & Man Ray, Renée Perle & Jacques-Henri Lartigue, Eliane Radigue & Arman, Giorgia O’Keefe & Edward Steichen, Nancy Shaver & Haim Steinbach, Frida Kahlo & Diego Rivera, Rosine Baldaccini & César…</h3>

        <div class="content-pairs">
        <h3 class="slider__presentation">En prélevant des citations iconographiques évoquant de façon allégorique des couples qui ont marqué l’histoire de l’art, Iris Crey accomplit un acte photographique sans appareil. Le cadrage isole un sujet pour apparier des objets parfois connexes : cible et flèche, couteau et fourchette, raquette et ballon, coquillage et téléphone… Ces emprunts désassortis sélectionnent des choses quotidiennes, les élevant au rang de totems. Ils peuvent avoir appartenu aux artistes, être extraits de leurs œuvres ou représentés dans leurs portraits. La frise leur rendant hommage transgresse la chronologie pour lui préférer la répétition des motifs ad libitum. Dans ces paires où l’identique cède la place à la complémentarité, l’artiste poursuit une réflexion transdisciplinaire sur l’universalité des sentiments. Iris Crey immortalise, par ce geste plastique de réappropriation, la relation qui les a unis à un moment donné.</h3>
  <%= image_tag "exhibition NOLA.jpg", width: 850, height: 610, crop: :fill %>
  <h6 class="slider__little">Iris Crey, Hors Paires, 2016, (détail, 5m.).
        <br>Vue de l’exposition « Mixed Messages.6 », New Orleans, the Myrtle Banks Building Gallery,  presented by the New Orleans Loving Festival with support from Alembic Community Development, Creative Alliance of New Orleans and Ashé Cultural Arts Center, July 16th - August 13th, 2016.</br></h6>
        </div>

      </div>

      <div class="rightColumn">
        <h2 class="slider__title">Frises photographiques / Photographic friezes</h2>

        <h3 class="slider__presentation-bis">Through iconographic citations, allegorically referring to couples that have marked the history of art, Iris Crey performs a photographic act without a camera. The framing isolates a subject to match its sometimes related object: arrow and target, fork and knife, ball and racquet, seashell and telephone. These mismatched borrowings select everyday objects, elevating them to the ranl of totems. The objects may have once belonged to the artists, to their works, or may be represented in their portraits.</h3>
      </div>
