<div class="content-arbres">
<h2 class="slider__title-arbres">“Les Trois arbres / The Three trees“: série de treize triptyques. Impressions photographiques sur bois.
</h2>
<div class="container">
  <div class="carousel">
    <div class="item a"><%= image_tag "arbre fécond.jpg", width: 105, height: 450, crop: :fill %></div>
    <div class="item b"><%= image_tag "arbre xylophage.jpg", width: 105, height: 450, crop: :fill %></div>
    <div class="item c"><%= image_tag "arbre immortel.jpg", width: 105, height: 450, crop: :fill %></div>
    <div class="item d"><%= image_tag "arbre de vie.jpg", width: 105, height: 450, crop: :fill %></div>
    <div class="item e"><%= image_tag "arbre xylophage.jpg", width: 105, height: 450, crop: :fill %></div>
    <div class="item f"><%= image_tag "arbre de la liberté.jpg", width: 105, height: 450, crop: :fill %></div>
    <div class="item f"><%= image_tag "arbre amoureux.jpg", width: 105, height: 450, crop: :fill %></div>
  </div>
</div>
</div>
<div class="content-arbres-ter">
<div class="balises">
<div class="next">Next</div>
<div class="prev">Prev</div>
</div>
</div>
<div class="content-arbres-bis">

<div class="columnsContainer">

      <div class="leftColumn">

       <h3 class="slider__presentation">

  Cette série prend appui sur le « Test des 3 arbres » (Koch / Stora), méthode projective utilisée en psychologie pour dévoiler des aspects inaperçus de la personnalité du patient. Trois dessins sont réalisés successivement sur une page blanche, format A4. J’ai détourné cette méthode en reprenant certains visuels extraits de l’iconothèque des psychanalystes pour leur trouver des correspondances photographiques. Le rapport à la mimesis est inversé : désormais, la photographie ne représente plus le réel mais elle doit coïncider cette fois avec l’image mentale.
<br>Formellement, le dessin se greffe aux photos comme un filtre subjectif. Le triptyque reprend la répartition initiale du test : le premier visuel correspond à l'arbre réel ; il montre l'image à laquelle se superposent les représentations que l'on projette (schémas et dessins anatomiques, icônes de téléphone, logos, arbres généalogiques, calligraphies et autres signifiants langagiers, images mentales sous la forme des dessins d'arbres imaginés par les patients et prélevés dans l'iconothèque des psychanalystes). La deuxième montre la photo d'origine prélevée dans ma banque d’images personnelles, non recadrée, non retouchée, incarnant l'arbre du Moi. Enfin, l'arbre du rêve (le troisième) est extrait d'une iconographie annexe (par exemple des arbres modèles des pépinières, arbres d'artistes, arbres porteurs de croyances, d'idéaux technologiques ou de rituels païens). </br></h3>
<h2 class="slider__presentation">Chaque triptyque photographique constitue une oeuvre autonome. Détails: L'Arbre amoureux / L'Arbre de la liberté / L'Arbre tatoué / L'Arbre de vie / L'Arbre de la connaissance / L'Arbre mélancolique / L'Arbre xylophage / L'Arbre des pendus / L'Arbre métamorphique / L'Arbre utopique / L'Arbre paradisiaque / L'Arbre fécond / L'Arbre immortel / L'Arbre protecteur ou protégé / L'Arbre guérisseur / L'Arbre fécond / L'Arbre xylophage.</h2>
      </div>

      <div class="rightColumn">

        <h3 class="slider__presentation-bis">En jouant sur la verticalité, la série des "Trois arbres" applique le principe de croissance à l’image, en prolongeant la représentation mentale pour affirmer la singularité de chaque regard, à la manière dont on ajouterait un préfixe et un suffixe à la racine d’un mot. Ce sont des œuvres épiphytes puisqu’elles prennent pour support d’autres représentations sans les altérer. Le fait de conférer des sentiments ou des qualités aux arbres leur donne un caractère anthropomorphique, reflétant les passions et les aspirations des êtres humains qui y réfugient leurs espoirs. </h3>
      </div>

</div>
