<!DOCTYPE html>
<html>
  <head>
    <title>Iris Crey</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
     <%= javascript_include_tag 'application' %>

    <%= yield %>

<script>
      var carousel = $(".carousel"),
      currdeg  = 0;
      $(".next").on("click", { d: "n" }, rotate);
      $(".prev").on("click", { d: "p" }, rotate);
      function rotate(e){
      if(e.data.d=="n"){
      currdeg = currdeg - 60;
      }
      if(e.data.d=="p"){
      currdeg = currdeg + 60;
      }
      carousel.css({
      "-webkit-transform": "rotateY("+currdeg+"deg)",
      "-moz-transform": "rotateY("+currdeg+"deg)",
      "-o-transform": "rotateY("+currdeg+"deg)",
      "transform": "rotateY("+currdeg+"deg)"
      });
      }
    </script>
<script>
$('.ml3').each(function(){
  $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
});

anime.timeline({loop: true})
  .add({
    targets: '.ml3 .letter',
    opacity: [0,1],
    easing: "easeInOutQuad",
    duration: 250,
    delay: function(el, i) {
      return 150 * (i+1)
    }
  }).add({
    targets: '.ml3',
    opacity: 0,
    duration: 50000,
    easing: "easeOutExpo",
    delay: 100
  });
</script>

<script>
$('.ml12').each(function(){
  $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
});

anime.timeline({loop: true})
  .add({
    targets: '.ml12 .letter',
    translateX: [40,0],
    translateZ: 0,
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 11200,
    delay: function(el, i) {
      return 500 + 30 * i;
    }
  }).add({
    targets: '.ml12 .letter',
    translateX: [0,-30],
    opacity: [1,0],
    easing: "easeInExpo",
    duration: 11100,
    delay: function(el, i) {
      return 100 + 30 * i;
    }
  });
  </script>
    <%= render 'shared/footer' %>
  </body>
</html>
