<!DOCTYPE html>
<html>
  <head>
    <title>Iris Crey</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
     <%= javascript_include_tag 'application' %>

    <%= yield %>
<script>
      var carousel = $(".carousel"),
      currdeg  = 0;
      $(".next").on("click", { d: "n" }, rotate);
      $(".prev").on("click", { d: "p" }, rotate);
      function rotate(e){
      if(e.data.d=="n"){
      currdeg = currdeg - 60;
      }
      if(e.data.d=="p"){
      currdeg = currdeg + 60;
      }
      carousel.css({
      "-webkit-transform": "rotateY("+currdeg+"deg)",
      "-moz-transform": "rotateY("+currdeg+"deg)",
      "-o-transform": "rotateY("+currdeg+"deg)",
      "transform": "rotateY("+currdeg+"deg)"
      });
      }
    </script>

    <%= render 'shared/footer' %>
  </body>
</html>
